body {
font-family: 'Times New Roman', Times, serif;
}
h1 {
    background-color: black;
    color: white;
    font-size: 48px;
    text-align: center;
    width: 25%;
    margin: auto;
}
ul {
    display: flex;
    background-color: red;
    color: yellow;
    font-weight: 700;
}
li {
    padding: 8px;
    width: 10%;
    margin: auto;
}